@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(persona: Persona)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@
    nuevo nombre
    <form class="" action="@routes.HomeController.guardarEditarPersona()" method="post">
        <input type="text" name="nombre" value="@persona.nombre">
        <input type='number' name='id' value='@persona.id' hidden>
        <button type="submit" name="button">Agregar</button>
    </form>

}
